@tailwind base;
@tailwind components;
@tailwind utilities;





@font-face {
  font-family: 'SaiyanFont';
  src: url('./fonts/Saiyan-Sans.ttf') format('truetype');
}

@font-face {
  font-family: 'SaiyanFontLeftOblique';
  src: url('./fonts/Saiyan-SansLeftOblique.ttf') format('truetype');
}

@font-face {
  font-family: 'SaiyanFontRightOblique';
  src: url('./fonts/Saiyan-SansRightOblique.ttf') format('truetype');
}

body {
  font-family: SaiyanFont, SaiyanFontLeftOblique, SaiyanFontRightOblique;
}